# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# ST3 terminal plugin
*.glue

# Codeception support files built during `codecept build`
tests/codeception/backend/_support
tests/codeception/common/_support
tests/codeception/console/_support
tests/codeception/frontend/_support
